.level-bg {
  min-height: 100vh;
  background: skyblue;
  background: -webkit-linear-gradient(skyblue, white);
  background: -o-linear-gradient(skyblue, white);
  background: -moz-linear-gradient(skyblue, white);
  background: linear-gradient(skyblue, white);
}

.flash-text {
  color: white;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
}

.flash-text a {
  color: white;
  float: right;
  margin-right: 10px;
}

.flash-text a:hover {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.settings-frame {
  height: 500px;
}