.enemy-bg {
  min-height: 100vh;
  color: white;
  background: purple;
  background: -webkit-linear-gradient(purple, #B80048);
  background: -o-linear-gradient(purple, #B80048);
  background: -moz-linear-gradient(purple, #B80048);
  background: linear-gradient(purple, #B80048);
}