.enemy-bg {
  padding: 40px;
  padding-bottom: 200px;
  color: white;
  background: purple;
  background: -webkit-linear-gradient(purple, #B80048);
  background: -o-linear-gradient(purple, #B80048);
  background: -moz-linear-gradient(purple, #B80048);
  background: linear-gradient(purple, #B80048);
}

.enemy-bg .settings-frame {
  color: black;
}

.preview-img {
  max-height: 150px;
}