<div class="asset-bg bg">
  <div class="settings-frame">
    <!-- spritesheet image uploading -->
    <div class="settings-row">
      <p class="form-header">Upload an image</p>
      <form>
        <p><!-- sprite file -->
          <label for="sprite-png">Image.png:</label>
          <input type="file" id="sprite-png" name="img" ng-file-select="onFileSelect($files)"/><br />
          <img class="preview-img" ng-src="{{ previewSrc }}" />
        </p>
        <p><!-- width -->
          <label for="spr-width">Frame Width:</label>
          <input ng-model="enemyData.width" id="spr-width" type="number"/>
        </p>
        <p><!-- height -->
          <label for="spr-height">Frame Height:</label>
          <input ng-model="enemyData.height" id="spr-height" type="number"/>
        </p>
      </form>
    </div>
  </div>
</div>

