html, body {
  margin: 0;
  padding: 0;
}

.bg {
  min-height: 100vh;
  padding-top: 40px;
  width: 100%;
  background: #34444f;
}

#phaser-frame {
  margin: 0 auto;
  border: 5px solid white;
  border-radius: 5px;
  height: 500px;
  width: 1000px;
  background-color: #34444f;
}
