body, html {
  font-family: sans-serif;
  font-weight: 300;
  font-size: 32px;
}

p {
  padding: 10px 0px 10px 0px;
}

canvas {
  cursor: none;
  border: 5px solid white;
}

.center {
  text-align: center;
}
