.flash-text {
  color: white;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  margin: 0;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.flash-text span {
  text-decoration: none;
  color: white;
  float: right;
  position: absolute;
  right: 25px;
}

.flash-text span:hover {
  text-decoration: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
}